.content {
    display: flex;
    margin: auto;
    width: 80%;
}

.topbar {
    background: var(--color-bg);
    color: var(--color-text);
    width: 400px;
}

.topbar #my-name {
    font-size: 20px;
}

.topbar .navi {
    display: flex;
    gap: 10px;
    text-align: left;
}

.topbar .navi p {
    width: 150px;
    border: 1px solid var(--color-text);
    margin: auto;
    background-color: var(--color-bg);
}

:root {
    color-scheme: light dark;
    --color-bg: #FFF;
    --color-text: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #333;
        --color-text: #EEE;
    }
}

:root[data-theme="light"] {
    color-scheme: light;
    --color-bg: #FFF;
    --color-text: #222;
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --color-bg: #333;
    --color-text: #EEE;
}